<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas e Respostas - Perguntas Anônimas</title>

  <link rel="stylesheet" href="/Styles/global.css">
  <link rel="stylesheet" href="/Styles/room.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"

  <script src="/scripts/main.js" defer type="module"></script>
</head>
<body>
  <div id="room" class="wrapper">
    <header>
      <a href="/"><img src="/assets/logo.svg" alt="Logo da Aplicação"/></a>

      <div class="buttons">
        <button class="buttonsec outline" id="room-id" data-id="323243">#323243<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.6667 7.5H9.16667C8.24619 7.5 7.5 8.24619 7.5 9.16667V16.6667C7.5 17.5871 8.24619 18.3333 9.16667 18.3333H16.6667C17.5871 18.3333 18.3333 17.5871 18.3333 16.6667V9.16667C18.3333 8.24619 17.5871 7.5 16.6667 7.5Z" stroke="#3485FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4.16675 12.5H3.33341C2.89139 12.5 2.46746 12.3244 2.1549 12.0118C1.84234 11.6993 1.66675 11.2754 1.66675 10.8333V3.33332C1.66675 2.8913 1.84234 2.46737 2.1549 2.15481C2.46746 1.84225 2.89139 1.66666 3.33341 1.66666H10.8334C11.2754 1.66666 11.6994 1.84225 12.0119 2.15481C12.3245 2.46737 12.5001 2.8913 12.5001 3.33332V4.16666" stroke="#3485FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
        <a class="button" href="#"><img src="/assets/users-white.svg" alt="icone usuario"> Criar Sala</a>
      </div>
    </header>


    <main>
      <section id="section-form">
        <h2>Faça sua Pergunta</h2>
        <form action="">
          <label class="sr-only" for-id="question">O que você quer perguntar?</label>
          <textarea name="question" id="question" cols="30" rows="10" placeholder="O que você quer perguntar?"></textarea>
          
          <footer>
            <div>
          <img src="/assets/padlock-icon.svg" alt="icone de cadeado">Esta pergunta é anônima
            </div>
            <button class="button">enviar</button>
          </footer>
        </form>
      </section>

      <section id="questions">
        <h2 class="sr-only">Perguntas da comunidade</h2>
        <div class="questions">

          <div class="question">
            <div class="question-content">

              <div class="user-question">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                  <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                <p>Qual a diferença entre const, var e let no Javascript?</p>
              </div>

              <div class="buttons">
                <a href="#" class="check" data-id="2">
                <img src="/assets/check-icon.svg" alt="Icone de checagem">Marcar como lida
                </a>
                <a class="delete" class-id="2">
                <img src= "/assets/trash-icon.svg" alt="Icone lixeira">Excluir
                </a>
              </div>
            </div>
          </div>

          <div class="question">
            <div class="question-content">

              <div class="user-question">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                  <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                <p>Qual a diferença entre const, var e let no Javascript? Qual a diferença entre const, var e let no Javascript? Qual a diferença entre const, var e let no Javascript? Qual a  diferença entre const, var e let no   diferença entre const, var e let no  diferença entre const, var e let no </p>
              </div>

              <div class="buttons">
                <a href="#" class="check" data-id="3">
                <img src="/assets/check-icon.svg" alt="Icone de checagem">Marcar como lida
                </a>
                <a href="#" class="delete" data-id="3">
                <img src="/assets/trash-icon.svg" alt="Icone lixeira">Excluir
                </a>
              </div>
            </div>
          </div>

          <div class="question">
            <div class="question-content">

              <div class="user-question">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                  <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                <p>O que é Typescript?</p>
              </div>

              <div class="buttons">
                <a href="#" class="check" data-id="4">
                <img src="/assets/check-icon.svg" alt="Icone de checagem">Marcar como lida
                </a>
                <a href="#" class="delete" data-id="4">
                <img src="/assets/trash-icon.svg" alt="Icone lixeira">Excluir
                </a>
              </div>
            </div>
          </div>
            
          <div class="question">
            <div class="question-content read">

              <div class="user-question">
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                  <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
                <p>O que é Javascript?</p>
              </div>

              <div class="buttons">
                <a href="#" class="delete" data-id="1">
                <img src="/assets/trash-icon.svg" alt="Icone lixeira">Excluir
                </a>
              </div>
            </div>
          </div>

        </div>
      </section>
    </main>
  </div>  

  <!-- ------------MODULO DE EXCLUSÃO---------- -->
  <div class="modal-box">
    <div class="modal">
      <h2></h2>
      <p></p>

      <form action="#" method="POST">
        <label class="sr-only" for-id="password"></label>
        <input type="password" id="password" name="password" placeholder="Digite a senha da sala">

        <div class="buttons">
          <div class="button grey cancel">Cancelar</div>
          <button class="button red"></button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>